<%- include('./layout.ejs') %>

<div class="login-container">
    <h3>Please provide your login details</h3>
    <form action="/login" method="post">
        <div class="login-fields">
            <label for="name">Username</label>
            <input type="text" name="name">
        </div>
        <div class="login-fields">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit" class="login-btn">Login</button>
    </form>
    
    <% if(locals.error) {  %>
        <div class="error">Username or password are incorrect</div>
    <% } %>
    <p>Don't have account? <a href="/register">Register</a></p>
</div>