<%- include('./layout.ejs') %>

<div class="login-container">
    <h3>Please provide your login details</h3>
    <form action="/login" method="post">
        <div class="login-fields">
            <label for="name">Username</label>
            <input type="text" required="true" maxlength="20" name="username">
        </div>
        <div class="login-fields">
            <label for="password">Password</label>
            <input type="password" required="true" minlength="6" name="password">
        </div>
        <button type="submit" class="login-btn">Login</button>
    </form>
    
    <% if(typeof(error) =="undefined") {  %>
        <div class="error">Error</div>
    <% } %>
    <p>Don't have account? <a href="/register">Register</a></p>
</div>