<%- include('./layout.ejs') %>

<div class="register-container">
    <h3>Please provide the required details</h3>
    <form action="/register" method="post">
        <div class="register-fields">
            <label for="name">Username</label>
            <input type="text" name="name">
        </div>
        <div class="register-fields">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="register-fields">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div class="register-fields">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" name="passwordConfirm">
        </div>
        <button type="submit" class="register-btn">Create account</button>
        <% if (locals.errors) { %>
            <% errors.forEach(function(error) { %>
                <li class="error-msg"><%= error.msg %></li>
            <% }) %>
        <% } %>
    </form>
    <p>Have an Account? <a href="/login">Login</a></p>
</div>