<%- include('./layout.ejs') %>

<div class="container">
    <img src="/images/nodejs.png" alt="NodeJS">
    <h2>Create an account or login</h2>
    <div class="ref-container">
        <div class="ref-space">
            <div class="ref-register">
                <a href="users/register" class="ref-style">Register</a>
            </div>
            <div class="ref-login">
                <a href="users/login" class="ref-style">Login</a>
            </div> 
        </div>
    </div>
</div>